h1{
    text-align: center;
    border-style: solid;
    background-color: blue;
}
.first{
    background-color: rgb(98, 194, 194);
    padding: 20px;
    width: 200px;
}

.flex-container {
    display: flex;
    flex-direction: row;
    background-color: DodgerBlue;
  }
  @media screen and (max-width: 992px) {
    body{ 
background-color: aqua;}
  }
  @media screen and (max-width: 600px) {
    body{
background-color: blue;}
  }